<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>MyCafe</display-name>
  <welcome-file-list>
    <welcome-file>CustomerDetail.jsp</welcome-file>
    
  </welcome-file-list>
  
<!-- Servlet Configuration for CustomerServlet -->
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet Configuration for OrderServlet -->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>

</web-app>